@import '../../utilities.scss';

.header-content {
  background: url(../../assets/img/showcase.jpg) no-repeat center/cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.text-content {
  margin-top: 20%;
  font-size: 2rem;
  vertical-align: center;
  line-height: 90px;
}